a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: block;
  text-decoration: none;
  padding: 0.8rem 2.4rem;
  border-radius: 3rem;
  background-color: #001b36;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  color: #fff;
  background-color: rgba(0, 27, 54, 0.9);
}
