body {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: block;
  text-decoration: none;
  padding: 0.8rem 2.4rem;
  border-radius: 3rem;
  background-color: #001b36;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  color: #fff;
  background-color: rgba(0, 27, 54, 0.9);
}

.content-width {
  width: calc(100% - 12.8rem);
  margin: 0 auto;
  /* padding: 0 1.6rem; */
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners for the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin; /* Firefox scrollbar width */
  scrollbar-color: #888 #f1f1f1; /* Firefox scrollbar color and track color */
}
