.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.8rem 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(3rem) brightness(120%);
  backdrop-filter: blur(3rem) brightness(120%);
  z-index: 50;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 180px;
}

.nav,
.rightSide {
  display: flex;
  gap: 15px;
}

.navItem {
  color: #f8f8f8; /* Light text color */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;

  &:hover {
    color: #3b82f6; /* Blue hover color */
  }
}

.userDropdownWrapper {
  position: relative;
  display: inline-block;

  .open {
    border-radius: 0;
  }

  .userDropdown {
    text-transform: capitalize;
  }

  .dropdownMenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1e293b;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0;
    overflow: hidden;

    button {
      background-color: #1e293b;
      color: #f8f8f8;
      padding: 20px;
      text-align: center;
      border: none;
      width: 100%;
      border-radius: 0;
      cursor: pointer;

      &:hover {
        color: #fff;
        background-color: rgba(0, 27, 54, 0.9);
      }

      &:not(:last-child) {
        border-bottom: 1px solid #374151;
      }
    }
  }
}
